<app-chat-header currentBody=details></app-chat-header>

<div class="btn-group-vertical btn-grp">
    <button class="btn btn-light">Profile</button>
    <button class="btn btn-light">Room management</button>
</div>

<div class="btn-group-vertical btn-grp">
    <h6>4 participiants</h6>
    <div class="profile-card">
        <div>
            <img class="user-img" src="../../assets/user_images/sample_user.jpg" />
            <label>Name</label>
        </div>
        <span class="badge badge-success">Admin</span>
    </div>
    <div class="profile-card">
        <div>
            <img class="user-img" src="../../assets/user_images/sample_user.jpg" />
            <label>Name</label>
        </div>
    </div>
    <div class="profile-card">
        <div>
            <img class="user-img" src="../../assets/user_images/sample_user.jpg" />
            <label>Name</label>
        </div>
    </div>
    <div class="profile-card">
        <div>
            <img class="user-img" src="../../assets/user_images/sample_user.jpg" />
            <label>Name</label>
        </div>
    </div>
</div>