

.social-login{
    display: flex;
    margin-top: 8px;
    margin-bottom: 5px;
    justify-content: center;
}
.g-login, .fb-login{
    width: 35px;
    height: 35px;
    background-size: contain !important;
    cursor: pointer;
    filter: brightness(0.9);
}
.g-login:hover, .fb-login:hover{
    filter: none;
}
.g-login{
    background: url('../../assets/image/google.png');
}
.fb-login{
    background: url('../../assets/image/facebook.png');
}