*{
    /* font-family: Candara; */
    /* font-family: Segoe UI Symbol; */
    font-family: Helvetica;
}

.info{
    color: #0c5460;
}
.success{
    color: #155724;
}
.warning{
    color: #856404;
}
.danger{
    color: #721c24;
}

.error-slide{
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0px);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

input[type="text"]{
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #187772;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0f6660;
}

.navbar-brand img{
    width: 25px;
}
.navbar{
    /* background-color: #3E8D0D; */
    background-color: #e9ffdc;
    -webkit-box-shadow: 0px 1px 3px 0px #657b61;
    -moz-box-shadow: 0px 1px 3px 0px #657b61;
    box-shadow: 0px 1px 3px 0px #657b61;
}

.navbar a{
    color: #112b01 !important;
    font-size: 18px;
}

.navbar > a:first-child{
    font-size: 21px;
}

.main-container{
    margin-top: 56px;
    height: 91vh;
    background-color: #fcfffb;
    padding-top: 20px;
    overflow-y: auto;
}

.login-container{
    position: relative;
    width: 50%;
    padding: 5%;
    background-color: #fff;
    left: 50%;
    top: 10px;
    transform: translate(-50%,0%);
    border-radius: 5px;
    border: 0.5px solid #ddd;
}

.btn-r{
    background-color: #EB342E;
    color: #fff;
}

.menu{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    bottom: -1px;
    padding-top: 10px;
}
.shape{
    background-color: #f6fffb;
    height: 38px;
    /* border: 0.5px solid #ADF0D1; */
    border: 0.5px solid #187772;
    font-weight: bold;
    cursor: pointer;
    width: 33%;
    text-align: center;
    padding: 5px 5% 0px 5%;
    border-radius: 8px 8px 0px 0px;
}
.shape:hover{
    height: 42px;
    margin-top: -4px;
}
.shape.active{
    background-color: #fff;
    border-bottom:0;
    height: 42px;
    margin-top: -4px;
    padding: 7px 5% 0px 5%;
}

.user-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 20px;
}

.chat-header{
    background-color: #e9ffdc;
    color: #112b01 !important;
    font-size: 18px;
    height: 55px;
    display: flex;
    padding: 0px 15px 0px 15px;
    cursor:pointer;
    -webkit-box-shadow: 0px 1px 3px 0px #657b61;
    -moz-box-shadow: 0px 1px 3px 0px #657b61;
    box-shadow: 0px 1px 3px 0px #657b61;
}

.chat-header > div{
    margin: auto 0;
}

.chat-header > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chat-header > div:first-child > i{
    align-self: center;
}
.chat-header > div:first-child > *{
    margin-right: 15px;
}
.chat-header > div:nth-child(2) > span{
    margin-right: 45px;
}

.chat-box{
    position: relative;
    background: #ffffff;
    height: 78vh;
    overflow-y: scroll;
    /* border: 0.5px solid #ADF0D1; */
    /* border: 0.5px solid #187772; */
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chat-box-alerts{
    top: -20px;
    padding-top: 5px;
    position: sticky;
    background: #ffffff;
}

.generate-rent{
    display: grid;
    grid-template-columns: minmax(0, 1fr) 100px;
    grid-gap: 5px;
}

.chat-controls{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 5px;
    width: auto;
    margin: 0 15px;
    z-index: 1030;
    background-color: #ffffff;
    /* border: 0.5px solid #ADF0D1; */
    border: 0.5px solid #187772;
    padding: 10px 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 70px 90px minmax(0, 1fr) 25px;
    grid-gap: 5px;
}

.chat-controls > span:first-child{
    display: none;
    margin: 6px auto;
}

.send-text{
    display: block;
    background: url('assets/image/send.png');
    background-size: contain;
    height: 25px;
    width: 25px;
    margin: 6px auto;
    opacity: 0.8;
}

.send-text:hover{
    opacity: 1;
}

.chat-you, .chat-others{
    display:flex;
    flex-direction: column;
    width: fit-content;
    max-width: 70%;
    height: fit-content;
    border-radius: 8px;
    border: 3px solid #70AE95;
    padding: 16px;
    margin-top: 16px;
}

.chat-you > label, .chat-others > label{
    margin: -17px -18px -0px -18px;
    background: #70AE95;
    color: white;
    padding-left: 19px; 
    border-radius: 8px 8px 0px 0px;
}
.chat-you > *, .chat-others > *{
    margin-top:5px;
}
.chat-you > span:last-child, .chat-others > span:last-child{
    font-size: 10px;
    color: #555;
    margin-bottom: -10px;
}
.chat-others{
    align-self: flex-start;
}

.chat-you{
    align-self: flex-end;
}

#chartContainer{
    height: 30vh;
    margin: 15px;
}
.btn-grp{
    width: 100%;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    -webkit-box-shadow: 0px 3px 3px 0px #aaa;
    -moz-box-shadow: 0px 3px 3px 0px #aaa;
    box-shadow: 0px 3px 3px 0px #aaa;
}
.btn-grp .btn{
    border-radius: 0;
    border-bottom: 0.5px solid #888;
    margin-bottom: 1px;
}
.btn-grp .btn:last-child{
    border-bottom: 0;
    margin-bottom: 0;
}

.btn-grp > h6{
    padding: 8px 20px;
    color:#3E8D0D;
}

.profile-card{
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.profile-card:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .login-container{
        width: 100%;
    }
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }