/* You can add global styles to this file, and also import other style files */

*{
    font-family: Candara;
}

.navbar{
    /* background-color: #B80f0A; */
    background-color: #EB342E;
}

.main-container{
    margin-top: 56px;
    height: 91vh;
    background-color: #f8faf9;
    padding-top: 20px;
}

.login-container{
    position: relative;
    width: 50%;
    padding: 5%;
    background-color: #fff;
    left: 50%;
    top: 10px;
    transform: translate(-50%,0%);
    border-radius: 5px;
    border: 0.5px solid #ddd;
}

.btn-r{
    background-color: #EB342E;
    color: #fff;
}

.menu{
    display: flex;
    justify-content: space-between;
}
.shape{
    background-color: rgb(245, 240, 240);
    height: 38px;
    border-bottom: 0.5px solid #EB342E;
    font-weight: bold;
    cursor: pointer;
    width: 33%;
    display: flex;
    padding: 0px 5% 0px 5%;
}
.shape:hover{
    filter: hue-rotate(45deg);
}
.shape > i{
    background: url('assets/image/cash.png');
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .login-container{
        width: 100%;
    }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }
